---
import { CollectionEntry, getCollection } from "astro:content";
import getReadingTime from "reading-time";
import { clsx } from "clsx";

import Share from "@components/content/share.vue";
import JpHeading from "@components/jp-heading.vue";

import Layout from "@layouts/Layout.astro";

import { IMediaItem } from "@utils/ts/aniListApiTypes";
import { contentPageQuery } from "@utils/queries";
import container from "@components/primitives/container";
import Link from "@components/link.astro";
import StaffList from "@components/content/staff-list.astro";
import CharactersList from "@components/content/characters-list.astro";
import ReviewsList from "@components/content/reviews-list.astro";

export async function getStaticPaths() {
  const films = await getCollection("films");

  return films.map((entry, index) => {
    const nextFilm = films[index + 1];
    const previousFilm = films[index - 1];

    return {
      params: {
        slug: entry.slug,
      },
      props: { entry: entry, next: nextFilm, previous: previousFilm },
    };
  });
}

interface Props {
  entry: CollectionEntry<"films">;
  next: CollectionEntry<"films"> | null;
  previous: CollectionEntry<"films"> | null;
}

const { entry, next, previous } = Astro.props;
const { nativeTitle, img, preface, rating, title } = entry.data;
const { Content } = await entry.render();
const readingTime = getReadingTime(entry.body);
const roundedReadingTime = Math.round(readingTime.minutes);

const response = await fetch("https://graphql.anilist.co", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: contentPageQuery(entry.data.title),
  }),
});

const json = await response.json();
const filmData = json?.data as IMediaItem;

const {
  id,
  idMal,
  genres,
  characters,
  bannerImage,
  duration,
  studios,
  startDate,
  episodes,
  reviews,
  siteUrl,
  staff,
  trailer,
} = filmData?.Media;
---

<Layout title={entry.data.title.toLowerCase()}>
  <div class={`${container()}`}>
    <div
      class="relative mb-16 flex w-full flex-col items-center justify-center border-2 border-lightPurple md:h-[30vh]"
    >
      <img
        class="absolute left-0 top-0 -z-10 h-full w-full opacity-20"
        src={bannerImage}
        alt={``}
      />
      <div class="relative w-full text-center text-6xl font-bold md:text-9xl">
        <h1>
          <span class="font-bold">{title.toLowerCase()}</span>
          <JpHeading left="0%" top="5%">
            {nativeTitle}
          </JpHeading>
        </h1>
        <div></div>
      </div>
    </div>

    <div class="mb-28">
      <h1 class="pb-2 font-manrope text-3xl md:text-5xl">
        gostas de <span
          class="bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text font-bold italic text-transparent"
          >{genres.join(", ").toLowerCase()}</span
        >?
      </h1>

      <h1 class="pb-8 font-manrope text-3xl md:text-5xl">
        se sim, então estás no sítio certo, bora lá.
      </h1>

      <h2 class="pb-2 font-manrope text-3xl md:text-5xl">
        em <span class="font-semibold"
          >{startDate.day}/{startDate.month}/{startDate.year}</span
        >
        o mundo conheceu esta obra de entretenimento,
      </h2>

      <h2 class="pb-2 font-manrope text-3xl md:text-5xl">
        tem <span class="font-semibold">{episodes} episódios</span>, cada um
        tirará
        <span class="font-semibold">{duration} minutos</span> da tua vida,
      </h2>

      <h2 class="pb-2 font-manrope text-3xl md:text-5xl">
        foi produzida, maioritariamente, pelo estúdio - {" "}
        <Link
          isExternalHref={true}
          text={`Link para o estúdio - ${studios.edges[0].node.name}`}
          href={studios.edges[0].node.siteUrl}
        >
          {studios.edges[0].node.name}
        </Link>.
      </h2>

      {
        trailer?.id && (
          <h2 class="font-manrope pb-2 text-3xl md:text-5xl">
            estamos curiosos? se sim podes ver aqui o{" "}
            <Link
              href={`https://www.youtube.com/watch?v=${trailer.id}`}
              text={`link para o trailer de ${title}`}
              isExternalHref={true}
            >
              trailer
            </Link>
          </h2>
        )
      }

      <h2 class="pb-2 font-manrope text-3xl md:text-5xl">
        sem mais demoras, vamos lá mergulhar nos detalhes
      </h2>
    </div>

    <div class="mb-24">
      <h1
        class="relative mb-10 bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text font-manrope text-5xl font-bold text-transparent"
      >
        os humanos que fizeram isto
      </h1>
      <p class="text-xl">
        antes demais, é importante relembrar as indivíduos que trabalharam
        incansávelmente para conseguirmos apreciar esta obra de entretenimento.
      </p>
      <p class="mb-8 text-xl">
        é o minímo que podemos fazer, reconhecer o ofício deles.
      </p>
      <StaffList staff={staff.edges} />
      <Link
        text={`Link para ver todo os membros do staff da série - ${title}`}
        href={`https://anilist.co/anime/${id}/staff`}
        icon="bx-plus"
      >
        ver todos os membros do staff
      </Link>
    </div>

    <div class="my-5">
      <h1
        class="bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text pb-10 font-manrope text-5xl font-bold text-transparent"
      >
        os bonecos (aka personagens)
      </h1>

      <p class="text-xl">
        antes demais, é importante relembrar as indivíduos que trabalharam
        incansávelmente para conseguirmos apreciar esta obra de entretenimento.
      </p>
      <p class="mb-8 text-xl">
        é o minímo que podemos fazer, reconhecer o ofício deles.
      </p>

      <CharactersList characters={characters.edges} />

      <Link
        text={`Link para ver todo as personagens da série - ${title}`}
        href={`https://anilist.co/anime/${id}/characters`}
        icon="bx-plus"
      >
        ver todos os bonecos da série
      </Link>
    </div>
  </div>

  <div
    class="xl:max-w[1024px] mx-auto mt-20 w-full bg-stone-950 p-6 sm:p-20 xl:border-2 xl:border-lightBlue 2xl:max-w-[1525px]"
  >
    <h1
      class="bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text pb-10 font-manrope text-6xl font-bold text-transparent md:text-8xl"
    >
      divagações do bobo
    </h1>

    <p class="mb-6 text-xl text-stone-500">
      Estão prontos para uma leitura de ±{roundedReadingTime} minutos? <span
        class="text-sm"
        >(este número é uma estimativa automática, não levem muito à letra)</span
      >
    </p>

    <div class="prose prose-xl max-w-none text-lightGrey">
      <Content />
    </div>

    <hr class="mx-auto my-16 w-3/4 border-b border-b-lightPurple" />

    <Share
      client:load
      title={`${nativeTitle} - bobo's zoomeranime`}
      url={Astro.url.href}
      subjects=""
    />
  </div>

  <div class={`${container()}`}>
    <div class="my-20">
      <h1
        class="relative bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text pb-10 font-manrope text-6xl font-bold text-transparent"
      >
        palavras de outros individuos na web
      </h1>

      <p class="text-xl">
        tendo em consideração que o tesouro de uma pessoa pode ser lixo para
        outra, podem encontrar opiniões muito diferentes da minha
      </p>
      <p class="text-xl">
        é sempre bom ouvir outras opiniões, por isso deixo abaixo <i
          >review(s)</i
        >¹ para o vosso entretenimento
      </p>

      <p class="mb-2 text-xl">
        caso queiram ver mais <i>reviews</i> desta série deixo aqui este link: <Link
          isExternalHref={true}
          href={`https://myanimelist.net/anime/${idMal}`}
          text={`reviews da série ${title} no website MyAnimeList`}
        >
          mal <i>reviews</i>
        </Link>
      </p>

      <p class="mb-8 text-sm text-stone-700">
        <sup>1</sup> não posso garantir a 100% que vão aparecer reviews abaixo e,
        se, estiverem serão, muito provavelmente em inglês
      </p>

      <ReviewsList reviews={reviews.edges} />
    </div>

    <div class="flex flex-col items-start md:flex-row md:justify-between">
      {
        previous && (
          <div
            class={clsx(
              "flex w-full justify-center md:justify-start",
              next && "md:w-auto"
            )}
          >
            <Link
              href={`films/${previous.slug}`}
              text="link para o filme anterior"
              icon="bx-left-arrow-alt"
            >
              <span>filme anterior</span>
            </Link>
          </div>
        )
      }

      {
        next && (
          <div
            class={clsx(
              "flex w-full justify-center md:justify-start",
              previous && "md:w-auto"
            )}
          >
            <Link
              href={`films/${next.slug}`}
              text="link para o próximo filme"
              icon="bx-right-arrow-alt"
              iconPos="right"
            >
              <span class="mr-1">próximo filme</span>
            </Link>
          </div>
        )
      }
    </div>

    {
      siteUrl ? (
        <p class="mt-20 text-stone-700">
          Toda a informação apresentada nesta página é obtida a partir da{" "}
          <Link
            isExternalHref={true}
            text="website da API do AniList"
            href="https://anilist.gitbook.io/anilist-apiv2-docs/"
          >
            API do AniList
          </Link>
          , também é possível ver a informação na{" "}
          <Link
            isExternalHref={true}
            text={`website série no AniList - ${title}`}
            href={siteUrl}
          >
            página da série na plataforma
          </Link>
        </p>
      ) : null
    }
  </div>
</Layout>
