---
import { CollectionEntry, getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import ImageCard from "@components/image-card.vue";
import Link from "@components/link.astro";
import { getRandomItemsFromArr } from "@utils/helpers";
import container from "@components/primitives/container";

const getMovies = await getCollection("movies");
const getRandomTvSeries = await getCollection("tv-shows");

type TPreviewContent = CollectionEntry<"movies"> | CollectionEntry<"tv-shows">;

const previewContents: TPreviewContent[] = [
  ...getRandomItemsFromArr(getRandomTvSeries, 2),
  ...getRandomItemsFromArr(getMovies, 2),
];
---

<Layout title="home">
  <div class={container()}>
    <div class="grid grid-cols-1 pb-5">
      <div>
        <h1
          class="mb-0 w-max bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text pb-4 font-manrope text-8xl font-bold text-transparent"
        >
          ei, eu sou o <a class="">bobo</a>¹,
        </h1>
        <h1 class="mb-0 w-max pb-2 font-manrope text-5xl font-semibold">
          um pássaro fictício, <i>zoomer</i>², que consegue pensar,
        </h1>
        <h1 class="mb-0 w-max pb-2 font-manrope text-5xl font-semibold">
          um mestre em <b>desenhos animados japoneses</b>,
        </h1>
        <h1 class="mb-0 w-max pb-2 font-manrope text-5xl font-semibold">
          um desastre a <b>escrever textos</b> de todo o tipo,
        </h1>
        <h1 class="pb-2 font-manrope text-5xl font-semibold">
          um romântico que escreve <b
            class="bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text text-transparent"
          >
            divagações sobre <i>animes</i></b
          >.
        </h1>
      </div>

      <div class="mt-8">
        <h2 class="mb-2 font-manrope text-4xl font-semibold">
          bem, este é o sítio da web onde partilho esses textos vergonhosos,
        </h2>
        <h2 class="mb-2 font-manrope text-4xl font-semibold">
          bobo's zoomeranime - a tragédia de apreciar bonecos nipónicos.
        </h2>
        <h2 class="mb-2 font-manrope text-4xl font-semibold italic">
          sugoi, desu ne?!<span class="not-italic">³</span>
        </h2>
      </div>
    </div>

    <div class="mt-16">
      <p class="text-base text-stone-700">
        <sup>1</sup> se quiseres saber melhor quem sou podes sempre visitar o meu
        <a
          rel="noreferrer"
          target="_blank"
          class="underline decoration-purple-900/50 transition-colors hover:decoration-lightPurple/50 active:decoration-lightPurple/50"
          href="https://josepsoares.vercel.app/">blog</a
        > e ler o meu <a
          rel="noreferrer"
          target="_blank"
          class="underline decoration-purple-900/50 transition-colors hover:decoration-lightPurple/50 active:decoration-lightPurple/50"
          href="https://josepsoares.vercel.app/">post introdutório</a
        >
      </p>
      <p class="text-base text-stone-700">
        <sup>2</sup> ser humano que nasceu nos finais dos anos 90 ou no princípio
        dos anos 2000 (pertencente à geração z)
      </p>
      <p class="text-base text-stone-700">
        <sup>3</sup> tradução neste contexto: fantástico/porreiro/wow
      </p>
    </div>

    <div class="mt-64">
      <h1
        class="bg-gradient-to-r from-teal-200 to-pink-300 bg-clip-text font-manrope text-6xl font-bold text-transparent"
      >
        exemplos de animes que escrevi acerca de:
      </h1>

      <div
        class="grid grid-cols-1 gap-4 pt-10 sm:grid-cols-2 md:grid-cols-3 md:gap-6 xl:grid-cols-4 xl:gap-10"
      >
        {
          previewContents.map((item: TPreviewContent) => (
            <a href={`/${item.collection}/${item.slug}`}>
              <ImageCard
                h="60vh"
                image={item.data.img}
                title={item.data.title}
                nativeTitle={item.data.nativeTitle}
              />
            </a>
          ))
        }
      </div>

      <div class="mt-6">
        <h2 class="text-2xl">
          claramente, só escrevi acerca uma pequena selecção de animes que vi e
          achei interessante.
        </h2>
        <h2 class="text-2xl">
          de qualquer das formas, podes encontrar obras de vários géneros e
          temas por aqui.
        </h2>
        <h2 class="text-xl">
          (apesar da maioria dos animes serem slice of life, um drama ou um
          romancezinho)
        </h2>
      </div>

      <div class="mt-8 flex flex-col gap-10 sm:flex-row">
        <div class="text-xl">
          <Link
            text="link para ver a lista de todas as series"
            href="/tv-shows"
          >
            ver todas as séries
          </Link>
        </div>
        <div class="text-xl">
          <Link text="link para ver a lista de todos os filmes" href="/movies">
            ver todos os filmes
          </Link>
        </div>
      </div>
    </div>
  </div>
</Layout>
